body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p#body {
    width: 80%;
}

#back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;  
    cursor: pointer;
}